.cuisine-american {
    background: url('https://cdn.otstatic.com/start-page-rush-654/8AFC7ADC-DE3B-439D-91F2-CE568C1A653B.jpg');
    background-position: center;
    background-size: 104%;
}
.cuisine-chinese {
    background: url('https://cdn.otstatic.com/start-page-rush-654/73289F47-FE6D-4B16-94EA-F24DC1FDFC26.jpg');
    background-position: center;
    background-size: 104%;
}
.cuisine-french {
    background: url('https://cdn.otstatic.com/start-page-rush-654/2B0938A7-B430-48B2-BF04-045BBE6C3BB2.jpg');
    background-position: center;
    background-size: 104%;
}
.cuisine-indian {
    background: url('https://cdn.otstatic.com/start-page-rush-654/E0C16BDD-C1FF-403C-969D-5C446E50F84E.jpg');
    background-position: center;
    background-size: 104%;
}
.cuisine-italian {
    background: url('https://cdn.otstatic.com/start-page-rush-654/48E9D049-40CF-4CB9-98D9-8C47D0D58986.jpg');
    background-position: center;
    background-size: 104%;
}
.cuisine-japanese {
    background: url('https://cdn.otstatic.com/start-page-rush-654/C3E3A680-8C1B-40B0-A21E-433ECC09A5A5.jpg');
    background-position: center;
    background-size: 104%;
}
.cuisine-korean {
    background: url('https://cdn.otstatic.com/start-page-rush-654/39C85294-D536-48D4-93CE-675A2DB3A064.jpg');
    background-position: center;
    background-size: 104%;
}
.cuisine-latin {
    background: url('https://cdn.otstatic.com/start-page-rush-654/7BF54B86-BD1F-4E35-BBCA-F7CCE982B4ED.jpg');
    background-position: center;
    background-size: 104%;
}
.cuisine-mexican {
    background: url('https://cdn.otstatic.com/start-page-rush-654/2A47AECA-4C19-449D-A956-D02AA35740E3.jpg');
    background-position: center;
    background-size: 104%;
}
.cuisine-thai {
    background: url('https://cdn.otstatic.com/start-page-rush-654/71C5B1FC-DC2A-4DFF-BF31-F4E7B8E956A0.jpg');
    background-position: center;
    background-size: 104%;
}
.cuisine-vietnamese {
    background: url('https://cdn.otstatic.com/start-page-rush-654/0735C10C-6AB6-46F6-87AA-8FE54397744D.jpg');
    background-position: center;
    background-size: 104%;
}