.favorite-button {
    display: flex;
    justify-content: center;
    background: #ffffff;
    margin-top: 50px;
    margin-right: calc(100% - 40px);
    padding: 11px 15px;
    width: 15rem; 
    text-align: center;
    border-radius: 2px;
    border: 1px solid #d8d9db; 
    transition: .3s all;
}

.favorite-button:hover {
    border: 1px solid #da3743;
}

@media only screen and (max-width: 768px) {
    .favorite-button {
        margin: 0 auto;
        margin-top: 50px;
    }
}