.footer-container{
    /* position: relative; */
    padding: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    /* height: 400px; */
    width:inherit;
    background-color: #333333;
    color:#acacac;
}

.footer-container p,  li {
    color: #acacac;
    margin: 5px 0;
    padding: 0 30px 15px 0;
}

.footer-container h3 {
    font-weight: 600; 
    color: #fff;
    margin: 0 0 10px;
}

.footer-content {
    display: flex; 
    justify-content: center;
    width: 952px;
    box-sizing: border-box;
}
.footer-container-items {
    padding: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.signature p{
    color: #fff; 
    font-weight: 600;
}
i.fas, i.fab {
    color: #acacac;
    padding: 10px; 
}