.footer-container{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display:flex;
    justify-content:flex-end;
    margin: 0 auto;
    height: auto;
    width:1600px;
    background-color: #333333;
    color:#acacac;
    
    }
    
.footer-container-items{
    margin-top:10px;
    margin-right:20px;
    
    }