.form-container {
    background-color: white;
    box-sizing: border-box;
    width: 460px;
    display: flex;
    align-items: center;
    padding: 30px 16px;
}

.form-title {
    font-weight: 400;
    margin: 0 0 8px;
    padding: 8px 0 16px;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
}

.form-holder {
    width: 100%;
    box-sizing: border-box;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}

.form-holder input {
    font-weight: 600;
    font-size: 13px;
    box-sizing: border-box;
    display:inline-block; 
    border-style: none;
    outline: none;
    width: 100%;
    height: 52px;
    margin: 0 0 8px;
    padding: 16px;
    border: 1px solid rgba(0,0,0, 0.12);
    border-radius: 3px;
}

.form-holder input[type=submit] {
    display: inline-block;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
    padding: 14px 28px 15px;
    height: 55px;
    background-color: #da3743;
    border-color: #b8222d;
    color: #ffffff;
    text-align: center;
    transition: background-color 300ms ease-out;
}

.form-holder input:hover {
    border-color: rgba(0,0,0, 0.2);
}

.form-holder input:focus {
    outline: 2px solid #acacac;
}


.form-holder input[type=submit]:hover {
    background-color: #b8222d;
    color: #ffffff;
}

.form-selection-item {
    /* position: relative;
    top: -4px; */
    /* padding: 0 0 0 8px; */
}

.form-selection-item select{
    appearance: none;
    -webkit-appearance: none; 
   -moz-appearance: none;
    width: 130px;
    height: 48px;
}

#form-selection-item-time {
    border-radius: 0px;
}

.compact-search-reservation-background {
    width: 100%; 
    height: auto; 
    display: flex; 
    justify-content: center;
    background: #c6c6c6; 
    padding: 8px 0;
}

.compact-search-reservation-form {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    background: white;
    height: auto;
    width: 480px;
}