.form-container {
    background-color: white;
    box-sizing: border-box;
    width: 460px;
    display: flex;
    align-items: center;
    padding: 30px 16px;
}

.form-title {
    font-weight: 400;
    margin: 0 0 8px;
    padding: 8px 0 16px;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
}

.form-holder {
    width: 100%;
    box-sizing: border-box;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
}

.form-holder input {
    font-weight: 600;
    font-size: 13px;
    box-sizing: border-box;
    display:inline-block; 
    border-style: none;
    outline: none;
    width: 100%;
    height: 52px;
    margin: 0 0 8px;
    padding: 16px;
    border: 1px solid rgba(0,0,0, 0.12);
    border-radius: 3px;
}

.form-holder input[type=submit] {
    display: inline-block;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
    padding: 14px 28px 15px;
    height: 55px;
    background-color: #da3743;
    border-color: transparent;
    color: #ffffff;
    text-align: center;
    transition: background-color 300ms ease-out;
}

.form-holder input:hover {
    border-color: rgba(0,0,0, 0.2);
}

.form-holder input:focus {
    outline: 2px solid #acacac;
}


.form-holder input[type=submit]:hover {
    background-color: #b8222d;
    color: #ffffff;
}

.form-selection-item select{
    appearance: none;
    -webkit-appearance: none; 
   -moz-appearance: none;
    width: 130px;
    height: 48px;
}

#form-selection-item-time {
    border-radius: 0px;
}

.compact-search-reservation-background {
    display: flex; 
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto; 
    padding: 2rem 1.5rem;
    background: repeating-linear-gradient(
    -55deg,
    #393e4a,
    #393e4a 10px,
    #2d333f 10px,
    #2d333f 20px
  );
}

.compact-search-reservation-form {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    background: rgba(0,0,0, 0.12);
    height: 46px;
    width: 976px;
    padding: 16px 0;
    margin: 0 auto; 
}

.compact-reservation-input-container {
  padding: 0 0 0 16px;
  box-sizing: border-box;
  border-right: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  width: 20%;
  height: 100%; 
}

.compact-reservation-inputs {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  border-radius: 4px; 
  overflow: hidden;
  background: #ffffff;
}

.compact-reservation-search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  height: 48px;
  background: #ffffff;
  border-radius: 4px;
  box-sizing: border-box; 
}

.compact-reservation-search-input input{
  width: 80%;
}

.compact-reservation-inputs input[type="submit"]{
    width:20%;
    height: 100%;
    padding: 0 16px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: 500;
    
}