.reservation-home-container {
    position: relative;
    box-sizing: border-box;
    height: 416px;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url('https://cdn-image.foodandwine.com/sites/default/files/1501607996/opentable-scenic-restaurants-marine-room-FT-BLOG0818.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

div.reservation-home-container::after {
    content: "";
    width: 1600px;
    margin: 0 auto;
    height: 416px;
    position: absolute;
    opacity: 0.7;
    background: rgba(47, 45, 65, 0.7);
    z-index: 1;
}

.reservation-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 3%;
    position: relative;
    box-sizing: border-box;
    height: 120px;
    width: 962px;
    z-index: 2;
}

.reservation-form-header {
    box-sizing: inherit;
    font-size: 47px;
    display: flex;
    color: white;
    line-height: 1.5;
    margin: 0 0 12px;
    text-align: center;
    display: inline-block;
    font-weight: 500;
}

.reservation-form-holder {
  display: flex;
  
}

.reservation-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

.reservation-inputs {
  border: 1px solid rgba(0,0,0,0.08);
  box-sizing: border-box;
  width: 480px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  border-radius: 3px; 
  overflow: hidden;
  background: #ffffff;
}

.reservation-input-container {
  padding: 0 0 0 8px;
  box-sizing: border-box;
  border-right: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  width: 33.3333%;
  height: 100%; 
}

.reservation-form-icon-decoration {
  padding: 0 2px 0 8px;
}

.reservation-form-input-field {
  background-color: #ffffff;
  height: 100%;
  border: none;
  -webkit-appearance: none;
}

.reservation-form-input-field:hover {
  -webkit-appearance: none;
}

.reservation-search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 290px;
  height: 48px;
  background: #ffffff;
  border-radius: 4px;
  box-sizing: border-box; 

  /* padding: 0 5px; */
}

.reservation-search-input-field {
  height: 90%;
  max-width: 100%;
  border: none;
  outline: none;
  /* border: 1px solid rgba(0,0,0,0.08); */
}

.reservation-submit-input {
  display: inline-block;
  border-radius: 4px;
  width: 140px; 
  height: 45px;
  background-color: #da3743;
  border-color: #b8222d;
  color: #ffffff;
  text-align: center;
  transition: background-color 300ms ease-out;
}

.reservation-submit-input:hover {
  background-color: #b8222d;
   color: #ffffff;
}