.reservation-home-container {
    box-sizing: border-box;
    height: 416px;
    width: 1600;
    margin: 0 auto;
    background-image: url('https://cdn-image.foodandwine.com/sites/default/files/1501607996/opentable-scenic-restaurants-marine-room-FT-BLOG0818.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

div.reservation-home-container::after {
    content: "";
    width: 100%;
    height: 416px;
    position: absolute;
    opacity: 0.7;
    background: rgba(47, 45, 65, 0.7);
    z-index: 1;
}

.reservation-form-container {
    position: relative;
    z-index: 2;
    flex-direction: column;
    box-sizing: border-box;
    height: 120px;
    width: 962px;
    display: flex;
    justify-content: center;
    /* background: rgb(0, 0, 0); */
}

.reservation-form-header {
    box-sizing: inherit;
    display: flex;
    color: white;
    line-height: 1.5;
    margin: 0 0 24px;
    text-align: center;
    display: inline-block;
}

.reservation-form-splash {
    box-sizing: inherit;
    display: flex; 
    justify-content: space-between;
    
}

.reservation-inputs {
    display: flex;
    flex-direction: row;
    align-content: flex-start;

}

.reservation-form-splash input{
    font-weight: 600;
    box-sizing: border-box;
    display:inline-block; 
    border-style: none;
    height: 48px;
    outline: none;
    width: 100%;
    margin: 0 0 8px;
    padding: 0 8px;
    border: 1px solid rgba(0,0,0, 0.12);
    border-radius: 3px;
}

.reservation-form-splash input[type=submit] {
    display: inline-block;
    width: 144px;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    background-color: #da3743;
    /* border-color: #b8222d; */
    color: #ffffff;
    text-align: center;
    transition: background-color 300ms ease-out;
}

.reservation-form-splash input:hover {
    border-color: rgba(0,0,0, 0.2);
}

.reservation-form-splash input:focus {
    outline: 2px solid #acacac;
}


.reservation-form-splash input[type=submit]:hover {
    background-color: #b8222d;
    color: #ffffff;
}

.reservation-inputs {
    align-items: center;
    display: flex;
    flex-basis: 33.3333%;
    padding-left: .5rem;
}

.reservation-search-input {
    width: 180px;
    padding: 8px 0px 8px 40px;
}

.reservation-submit-input {
    padding: 8px 0px 8px 40px;
}