.page-main-content {
    display: flex;
    justify-content: center;
    padding: 0 20px 16px;
    /* outline: 1px solid red; */
    width: 1280px;
    margin: 0 auto; 
    height: auto;
}

.page-content-column {
    padding: 0 16px;
    /* width: 1240px; */
    /* outline: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.page-main-secition {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-main-section-item {
    padding: 70px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* outline: 1px solid blue; */
}

.page-main-section-item h2{
    padding: 0 0 16px;
    margin: 0 0 20px;
    border-bottom: 1px solid #d8d9db;
    font-weight: 600;
}

.page-main-restaurant-cuisine-list {
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
}

.cuisine-content {
    display: flex;
    padding: 8px 0 0; 
    margin: 0 10px 0;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;
    height: 208px;
    width: 208px;
    background: teal;
    text-align: center;
}

.page-main-restaurant-item {
    display: flex; 
    flex-direction: column; 
    height: 238px; 
    width: 236px;
    margin: 0 15px 0 0;
    outline: 1px dotted purple;
}

.page-main-restaurant-item-img-container {
    height: 236px; 
    width: 132; 
    background-color: yellowgreen;
}

.page-main-restaurant-content-info {
    padding: 8px;
}

.cuisine-content h3 {
    color: #ffffff;
    font-weight: 700;
    line-height: 1.5;
}


