.nav-bar-ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    height: 54px; 
    padding: 0 36px;
    margin: 0 auto;
    box-shadow: #d8d9db 2px 0px 0px 2px;
}

.nav-bar li {
    display: block;
    /* padding: 0 32px 0 16px; */
}

#logo {
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
}

#logo li {
    display: block;
    
}

#logo-words {
    padding: 10px 0 0 15px ;
}

#circle {
    position: relative;
    box-sizing: content-box;
    height: 44px; 
    width: 44px; 
}

#circle:before {
    content: "";
    position: absolute;
    box-sizing: content-box;
    width: 8px;
    height: 8px; 
    top: 10%; 
    left: 30%;
    background: #ffffff;
    border: 14px solid #da3744;
    border-radius: 100%;
}

#circle:after {
    content: "";
    position: absolute;
    box-sizing: content-box;
    top: 45%; 
    left: 0;
    width: 9px;
    height: 9px; 
    background: #da3744;
    border-radius: 100%;
}