.nav-bar-ul {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    height: 54px; 
    padding: 5px 36px;
    margin: 0 auto;
    box-shadow: #d8d9db 2px 0px 0px 2px;
}

.nav-bar li {
    display: block;
    /* padding: 0 32px 0 16px; */
}

.nav-bar li h3 {
    padding-top: 10px;
}

#logo {
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
}

#logo li {
    display: block;
    
}

#logo-words {
    padding: 10px 0 0 15px ;
}

#circle {
    position: relative;
    box-sizing: content-box;
    height: 44px; 
    width: 44px; 
}

#circle:before {
    content: "";
    position: absolute;
    box-sizing: content-box;
    width: 8px;
    height: 8px; 
    top: 10%; 
    left: 30%;
    background: #ffffff;
    border: 14px solid #da3744;
    border-radius: 100%;
}

#circle:after {
    content: "";
    position: absolute;
    box-sizing: content-box;
    top: 45%; 
    left: 0;
    width: 9px;
    height: 9px; 
    background: #da3744;
    border-radius: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;

}

.dropdown-content {
  position: absolute;
  width: 205%;
  display: none;
  top: 135%;
  left: -115px;
  padding: 13px 12px;
  font-size: 16px;
  white-space: nowrap;
  line-height: 3;
  background: #fff;
  border: 1px solid #e5e5e5;
 
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

.dropdown-content:after {
    position: absolute; 
    left: 50%; 
    top: -8px; 
    height: 0; 
    width: 0;
    content: '';
     border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid grey;
}

.dropdown-active  {
  display: inline-block;
  padding: 10px; 
  cursor: pointer;
}


/* .dropdown:hover .dropdown-content {
  display: block;
} */

