.reviews-item {
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    /* height: 157px; */
    padding: 16px 0; 
    border-bottom: 1px solid #d8d9db;
}

.reviews-user {
    display: flex; 
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 96px;
    height: 124px;
    margin: 0 16px;
}

.reviews-user-profile-initials {
    display:flex; 
    align-items:center;
    justify-content: center;
    margin: 0 0 12px;
    width: 52px; 
    height: 52px; 
    background-color: #d86441;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
}

.reviews-user-profile-initials span {
    color: #ffffff; 
    font-weight: 500; 
    font-size: 16px;
}
/* .review-user-name {

} */

.reviews-content {
    display: flex; 
    flex-direction: column; 
    /* justify-content: space-between; */
    width: 480px; 
    /* height: 124px; */
    font-size: 14px;
    /* overflow: hidden; */
}

.reviews-index-container {
    display: flex;
    flex-direction: column-reverse;
}

.reviews-rating-container {
    margin: 0 0 16px;
}

.reviews-rating-container span {
    font-weight: 500; 
}

.reviews-rating-header {
    display: flex; 
    flex-direction: row;
    padding: 0 0 4px;
}

.reviews-creation-date {
    padding: 0 0 0 8px;
}

.rating-name {
    font-weight: 600; 
    padding: 0 8px 0 0;
}

.rating-number {
    font-weight: 600; 
    color: #da3742;
    padding: 0 4px 0 0;
    font-size: 16px;
}

.reviews-stats {
    padding: 0 0 24px;
    border-bottom: 1px solid #d8d9db;
}

.reviw-stats-container{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.reviews-stats-content {
    width: 50%;
}

.review-stats-graph-container {
    width: 45%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.review-stats-graph {
    display: flex; 
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.reviews-stats-overall-container {
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    padding: 6px 0;
}

.reviews-stats-overall-rating {
    padding: 0 8px;
}

.reviews-recommended {
    display: flex; 
    flex-direction: row; 
    margin: 15px 0 0;
}

.reviews-stats-header{
    padding: 8px 0;
}

.reviews-count-container {
    display: flex; 
    flex-direction: row;
}

.reviews-count-meter {
    height: 16px;
    position: relative;
    background: #fff;
    outline: 1px solid #d8d9db;
    width: 100%;
    margin: 0 0 16px 16px;
}

.reviews-count-meter span{
    width: 5%;
}

.reviews-count-meter > span {
  display: block;
  height: 100%;
  background-color: #da3743;
  position: relative; 
  overflow: hidden;
}

.reviews-add-button {
    border: 1px solid #da3743;
    width: 45%;
    padding: 12px;
    color: #da3743;
    border-radius: 3px;
    transition: all .3s;
}

.reviews-add-button:hover {
    background: #da3743;
    color: #fff; 
    border: 1px solid #da3743;
    border-radius: 3px;
    /* transition: all .3s; */
}

.reviews-form-container {
    background: #ffffff; 
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 4em 6em;
    height: 600px;
    max-height: 600px;
    margin-top: 6px;
    margin-bottom: 0;
    /* box-sizing: border-box; */
}

.reviews-form-radio-input {
    width: 270px; 
    display: flex; 
    flex-direction: column;
    margin: 12px auto;
}

.reviews-form-input-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 4px 0;
}

.reviews-form-noise-input {
    text-align: center;
    padding: 0 0 8px;
}

.reviews-form-submit {
    width: 320px; 
    padding: 5px; 
    margin: 12px 230px; 
    color: #ffffff;
    background: #da3743;
    border: 1px solid #b8222d;
    border-radius: 3px;
    transition: all .3s;

}

.reviews-form-submit:hover {
    background: #b8222d;
    color: #fff; 
    border: 1px solid #b8222d;
    border-radius: 3px;
}
