.show-page-container {
    width: 100%; 
    margin: 0 auto; 
    height: auto; 
    background-color: white;
}

.show-page-image-container {
    width: inherit;
    height: 288px;
    /* outline: 1px dotted rebeccapurple;  */
    background: url('https://www.telegraph.co.uk/content/dam/Travel/Destinations/South%20America/Brazil/Rio%20de%20Janeiro/rio-aprazivel-restaurant-guide.jpg?imwidth=1400');
}

.show-page-content-container {
    box-sizing: border-box;
    width: 992px;
    margin: -48px auto 0; 
    height: auto;
    display: flex; 
    justify-content: space-between;
    /* outline: 1px solid green;  */
}

.show-page-restaurant-info {
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    width: 320px;
    height: auto; 
    /* background: skyblue; */

}

.show-page-restaurant-content {
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    height: 100%;
    width: 626px;
    background: white;
}

.restaurant-profile-nav {
    box-sizing: border-box;
    display: flex; 
    justify-content: flex-start;
    position: sticky;
    top: 0px;
    width: 100%; 
    height: 48px; 
    padding: 0 8px;
    background-color: white;
    border-bottom: 1px solid #d8d9db;
    z-index: 2;

}

.restaurant-snippet {
    box-sizing: inherit;
    position: relative;
    width: 100%; 
    padding: 32px 16px 64px;
    /* outline: 1px dotted skyblue; */
}

.restaurant-snippet article{
    margin: 0 0 16px;
}

.restaurant-title {
    margin: 0 0 16px; 
    padding: 0 0 32px;
    color: #000000;
}


.restaurant-profile-nav > p {
    padding: 14px 8px;
    
}

.restaurant-reservation-form {
    position: sticky;
    top: 0;
    display: flex; 
    flex-direction: column;
    width: inherit;
    height: 311px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.18);
    background-color: #ffffff; 
}

.restaurant-reservation-form form {
    margin: 0 0 16px;
    padding: 8px 16px 16px;
}

.restaurant-reservation-form-title {
    text-align: center; 
    font-weight: 600; 
    padding: 14px 16px 0;
    font-size: 21px;
}

.restaurant-reservation-form select{
    padding-bottom: 0 0 4px;
    width: 100%;
    display: block; 
    margin: 5px 0 20px;
    border: none; 
    border-radius: 0px;
    outline: none;
    height: 35px;
    border-bottom: 1px solid #d8d9db;
    font-size: 14px;
    app

}

.restaurant-reservation-form select:hover {
    border-bottom: 1px solid #da3744;
}



.restaurant-reservation-form label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0 0;
}

.reservation-field-holder {
    display: flex; 
    justify-content: space-between;
}

.reservation-field-holder select + input {
    width: 45%;
}

.reservation-field-holder input:hover {
    border-bottom: 1px solid #da3744;
}

.reservation-submit {
    width: 100%;
    display: inline-block;
    font-weight: 300;
    padding: 12px 16px;
    cursor: pointer;
    background-color: #da3743;
    border-color: #eee;
    border-radius: 2px; 
    color: #ffffff;
    text-align: center;
    transition: background-color 300ms ease-out;
}

.reservation-submit:hover {
    background-color: #e15b64;
}

.section-container {
    box-sizing: inherit;
    position: relative;
    width: 100%;
    padding: 32px 16px 64px;
}

.section-container h2{
    font-weight: 600;
    padding: 0 0 16px;
    margin: 0 0 16px;
    border-bottom: 1px solid #d8d9db;
}

.restaurant-show-map-container {
    box-sizing: inherit;
    /* display: block; */
    width: inherit;
    height: 280px;
    margin: 30px 0 16px; 
    padding: 4px 4px 8px;
    border: 1px solid #d8d9db;
    border-radius: 4px;
}

.restaurant-show-map-container span{
    color: #da3742;
}
.restaurant-show-map {
    height: 92%;
    display: flex; 
    justify-content: center;
    align-items: center;
    background: repeating-linear-gradient(
    -55deg,
    #5d9634,
    #5d9634 10px,
    #538c2b 10px,
    #538c2b 20px
  );
  background-size: 100% 20px;
}

.restaurant-show-map h1 {
    color: white;
    font-weight: 400;
    text-align: center;
}

.restaurant-info-container {
    background-color: white; 
    box-sizing: inherit;
    display: flex; 
    justify-content: flex-start; 
    flex-direction: column;
    /* outline: 1px dotted purple; */
    height: 400px;
    padding: 0 6px;
    margin: 6px 0;
}


.restaurant-info-section {
    box-sizing: inherit;
    display: flex; 
    justify-content: flex-start; 
    flex-direction: row;
    height: auto;
    margin: 0 0 16px;
    /* outline: 1px dotted skyblue; */
}

.show-icon-container {
    padding: 0 6px 0 0;
}

.restaurant-info-text {
    padding: 6px 0 0;
    font-size: 14px;
    font-weight: 400;
}

.restaurant-info-text span{
    font-weight: 600;
}

.nav-bar-words {
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
}

.nav-bar-words > * {
    margin-right: 10px;
}
/* .show-page-container {
    box-sizing: border-box; 
    width: 24px;
    height: inherit;
} */