* {
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
    color: #2d333f;
    font-size: 16px;
    font-weight: 400
}
html {
    scroll-behavior: smooth;
}

main {
    background-color: #f7f7f7;
}

h1 {
    font-size: 48px;
    font-weight: 300;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5rem;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.nav-button {
    margin: 4px 0;
    padding: 11px 17px 5px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px;
}

.signup-button {
    background-color: #237b98;
    border-color: #1c627a;
    color: #ffffff;
    font-size: 13px;
}

.signup-button:hover {
    background-color: #1c627a;
    color: #ffffff;
}

.signin-button {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
}

.signin-button:hover {
    color: #000000;
}
.session-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    width: 155px;
    padding: 2px 0 0;

}

.errors {
    color: #d30303 ;
}

.form-holder input.red-border {
    border: 1px solid #b8222d;
}

.form-holder input.red-border::placeholder {
    color: #fea4a4 ;

}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 22px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.material-icons.red {
    color: #da3742;
}

.material-icons.gold {
    color: #fdaf07;
}

.material-icons.grey {
    color: #a3a3a3;
}

.material-icons.star-grey {
    color: #e1e1e1;
}

.material-icons.star-rating{
    margin: 0 -25px 0 0;
    /* font-size: */
}

.light-text {
    font-weight: 300;
}

.bold-text {
    font-weight: 500;
}

.center-text {
    text-align: center;
}

.border-right {
    border-right: 1px solid #d8d9db;
}

.small {
    font-size: 14px;
}

.xsmall {
    font-size: 13px;
}

.grey {
    color: #6f737b;
}

.grey-price-range {
    color: #e1e1e1;
}